body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .input-group {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  label {
    width: 120px;
  }
  
  select,
  input[type="number"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #bbb4b4;
    font-size: 16px;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #15eb15;
    color: #f6ecec;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #13f14b;
  }
  
  .result {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
  }
  